name: Lint
on: [push]

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup Node
        uses: bahmutov/npm-install@v1.6.0
      
      - run: npm run lint
      - run: git status