name: E2E Tests
on: [push]

jobs:
  e2e-tests:
    name: E2E Tests
    runs-on: ubuntu-20.04

    services:
      neo4j:
        image: neo4j:4.1.3
        ports:
          - 7687:7687
        environment:
          NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
          NEO4J_apoc_export_file_enabled: "true"
          NEO4J_apoc_import_file_enabled: "true"
          NEO4J_apoc_trigger_enabled: "true"
          NEO4J_apoc_uuid_enabled: true
          NEO4J_AUTH: "neo4j"/"neo4j"
          NEO4J_dbms_connector_bolt_advertised__address: localhost:7687
          NEO4J_dbms_security_auth__enabled: "false"
          NEO4J_dbms_transaction_timeout: "100s"
          NEO4JLABS_PLUGINS: '["apoc"]'
          - NEO4J_dbms_security_procedures_whitelist=apoc.export.*,apoc.uuid.*,apoc.periodic.iterate,apoc.cypher.runFile,apoc.create.uuid,apoc.path.subgraphAll,apoc.coll.randomItems,apoc.trigger.*
          # NEO4J_dbms_security_procedures_unrestricted: apoc.*
          # NEO4J_dbms_connector_bolt_enabled: "true"
          # NEO4J_apoc_import_file_enabled: "true"
          # NEO4J_apoc_export_file_enabled: "true"
          # NEO4J_apoc_import_file_use__neo4j__config: "true"
          # NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
          # NEO4J_dbms_security_auth__enabled: "false"
          # NEO4J_dbms_connector_bolt_advertised__address: localhost:7687
          # NEO4JLABS_PLUGINS: '["apoc"]'
        options: >-
          --health-cmd "cypher-shell 'match (n) return count(n)'"
          --health-timeout 10s
          --health-retries 20
          --health-interval 10s
          --health-start-period 30s

      redis:
        image: redis:6.0.10-alpine
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379

    steps:
      - name: echoes
        run: echo "hello echo"
